.shop-area{
	display: block;
	background: url(images/shop/bg-1.jpg);
	.shop-list{
		figure{
			display: block;
			margin: 0;
			overflow: hidden;
			vertical-align: middle;
			position: relative;
			width: 100%;
			border:1px solid #eee;
			&:after{
				content:'';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 100%;
				right:100%;
				width: 0;
				border:1px solid $primary-color;
				border-right: 0;
				border-bottom: 0;
				transition: $transition;
			}
			&:before{
				content:'';
				position: absolute;
				right: 0;
				bottom: 0;
				top: 100%;
				left:100%;
				width: 0;
				border:1px solid $primary-color;
				border-left: 0;
				border-top: 0;
				transition: $transition;
			}
			img{
				width: 100%;
				display: block;
			}
		}
		.content{
			border:1px solid #eee;
			border-top: none;
			position: relative;
			display: block;
			margin: 0;
			text-align: center;
			padding: 28px 0 0;
			overflow: hidden;
			vertical-align: middle;
			background: #fff;
			&:after{
				content:'';
				position: absolute;
				left: 0;
				right: 0;
				bottom: -1px;
				top: 100%;
				border:1px solid $primary-color;
				border-top:none;
				transition: $transition;
			}
			ul{
				margin: 0 0 10px;
				position: relative;
				z-index: 999;
				li{
					padding: 0;
					color: #e1e1e1;
					&:nth-child(1){
						color: $primary-color;
					}
					&:nth-child(2){
						color: $primary-color;
					}
					&:nth-child(3){
						color: $primary-color;
					}
				}
			}
			h4{
				font-family: $title-font;
				font-size: 22px;
				font-weight: 400;
				color: #0f0f0f;
				margin: 0 0 15px;
				position: relative;
				z-index: 999;
			}
			.price{
				display: block;
				margin: 0 0 30px;
				position: relative;
				z-index: 999;
				del{
					display: inline-block;
					color: #797979;
					padding-right: 10px;
				}
				strong{
					font-size: 20px;
					font-weight: 600;
					color: $primary-color;
					display: inline-block;

				}
			}
			a{
				position: relative;
				z-index: 999;
			}
		}
		&:hover{
			figure{
				&:after{
					bottom:0;
					right: 0;
					width: 100%;
				}
				&:before{
					top: 0;
					left: 0;
					width: 100%;
				}
			}
			.content{
				&:after{
					top:0;
					bottom: 0;
				}
			}
		}
	}
}
.shop-page-area{
	.item{
		.shop-list{
			display: block;
			margin: 0 0 30px;
			figure{
				display: block;
				margin: 0;
				overflow: hidden;
				vertical-align: middle;
				position: relative;
				width: 100%;
				border:1px solid #eee;
				&:after{
					content:'';
					position: absolute;
					left: 0;
					top: 0;
					bottom: 100%;
					right:100%;
					width: 0;
					border:1px solid $primary-color;
					border-right: 0;
					border-bottom: 0;
					transition: $transition;
				}
				&:before{
					content:'';
					position: absolute;
					right: 0;
					bottom: 0;
					top: 100%;
					left:100%;
					width: 0;
					border:1px solid $primary-color;
					border-left: 0;
					border-top: 0;
					transition: $transition;
				}
				img{
					width: 100%;
					display: block;
				}
			}
			.content{
				border:1px solid #eee;
				border-top: none;
				position: relative;
				display: block;
				margin: 0;
				text-align: center;
				padding: 28px 0 0;
				overflow: hidden;
				vertical-align: middle;
				background: #fff;
				z-index: 1;
				&:after{
					content:'';
					position: absolute;
					left: 0;
					right: 0;
					bottom: -1px;
					top: 100%;
					border:1px solid $primary-color;
					border-top:none;
					transition: $transition;
				}
				ul{
					margin: 0 0 10px;
					position: relative;
					z-index: 999;
					li{
						padding: 0;
						color: #e1e1e1;
						&:nth-child(1){
							color: $primary-color;
						}
						&:nth-child(2){
							color: $primary-color;
						}
						&:nth-child(3){
							color: $primary-color;
						}
					}
				}
				h4{
					font-family: $title-font;
					font-size: 22px;
					font-weight: 400;
					color: #0f0f0f;
					margin: 0 0 15px;
					position: relative;
					z-index: 999;
				}
				.price{
					display: block;
					margin: 0 0 30px;
					position: relative;
					z-index: 999;
					del{
						display: inline-block;
						color: #797979;
						padding-right: 10px;
					}
					strong{
						font-size: 20px;
						font-weight: 600;
						color: $primary-color;
						display: inline-block;

					}
				}
				p{
					display: none;
				}
				a{
					position: relative;
					z-index: 999;
				}
			}
			&:hover{
				figure{
					&:after{
						bottom:0;
						right: 0;
						width: 100%;
					}
					&:before{
						top: 0;
						left: 0;
						width: 100%;
					}
				}
				.content{
					&:after{
						top:0;
						bottom: 0;
					}
				}
			}
		}
		&.list-item{
			width: 100%;
			.shop-list{
				display: block;
				margin: 0 0 30px;
				width: 100%;
				figure{
					display: inline-block;
					margin: 0;
					overflow: hidden;
					vertical-align: middle;
					position: relative;
					width: 30%;
					border:1px solid #eee;
					float: left;
					height: 270px;
					&:after{
						content:'';
						position: absolute;
						left: 0;
						top: 0;
						bottom: 100%;
						right:100%;
						width: 0;
						border:1px solid $primary-color;
						border-right: 0;
						border-bottom: 0;
						transition: $transition;
					}
					&:before{
						content:'';
						position: absolute;
						right: 0;
						bottom: 0;
						top: 100%;
						left:100%;
						width: 0;
						border:1px solid $primary-color;
						border-left: 0;
						border-top: 0;
						transition: $transition;
					}
					img{
						width: 100%;
						display: block;
					}
				}
				.content{
					border:1px solid #eee;
					position: relative;
					display: table;
					width: 70%;
					margin: 0;
					text-align: left;
					padding: 15px 30px 0;
					overflow: hidden;
					height: 270px;
					vertical-align: middle;
					background: #fff;
					z-index: 1;
					&:after{
						content:'';
						position: absolute;
						left: 0;
						top: 0;
						bottom: 100%;
						right:100%;
						width: 0;
						border:1px solid $primary-color;
						border-right: 0;
						border-bottom: 0;
						transition: $transition;
					}
					&:before{
						content:'';
						position: absolute;
						right: 0;
						bottom: 0;
						top: 100%;
						left:100%;
						width: 0;
						border:1px solid $primary-color;
						border-left: 0;
						border-top: 0;
						transition: $transition;
					}
					ul{
						margin: 0 0 10px;
						position: relative;
						z-index: 999;
						li{
							padding: 0;
							color: #e1e1e1;
							&:nth-child(1){
								color: $primary-color;
							}
							&:nth-child(2){
								color: $primary-color;
							}
							&:nth-child(3){
								color: $primary-color;
							}
						}
					}
					h4{
						font-family: $title-font;
						font-size: 22px;
						font-weight: 400;
						color: #0f0f0f;
						margin: 0 0 10px;
						position: relative;
						z-index: 999;
					}
					.price{
						display: block;
						margin: 0 0 10px;
						position: relative;
						z-index: 999;
						del{
							display: inline-block;
							color: #797979;
							padding-right: 10px;
						}
						strong{
							font-size: 20px;
							font-weight: 600;
							color: $primary-color;
							display: inline-block;

						}
					}
					p{
						display: block;
					}
					a{
						position: relative;
						z-index: 999;
					}
				}
				&:hover{
					figure{
						&:after{
							bottom:0;
							right: 0;
							width: 100%;
						}
						&:before{
							top: 0;
							left: 0;
							width: 100%;
						}
					}
					.content{
						&:after{
							bottom:0;
							right: 0;
							width: 100%;
						}
						&:before{
							top: 0;
							left: 0;
							width: 100%;
						}
					}
				}
			}
		}
	}
	.filter-area{
		padding: 20px;
		background: #f5f5f5;
		margin: 0 0 50px;
		float: left;
		width: 100%;
		.list-grid{
			display: block;
			padding: 2px 0;
			ul{
				li{
					a{
						font-size: 24px;
						color: #333;
						opacity: 0.5;
						&:focus{
							opacity:1;
						}
					}
				}
			}
		}
		.short{
			select{
				border: none;
				box-shadow: none;
				background: #fff;
				border-radius: 50px;
				padding: 6px 15px;
				border: 1px solid #e3e3e3;
				&:focus{
					outline:none;
				}
			}
		}
		.pagein{
			ul{
				li{
					a{
						font-size: 18px;
					}
					&.active{
						display: inline-block;
						background: #fff;
						padding: 0 15px;
						border-radius: 50px;
						border: 1px solid #e3e3e3;
					}
				}
			}
		}
	}
}
.product-details{
	.bx-wrapper{
		margin: 0;
	}
	.bx-wrapper .bx-viewport{
		box-shadow: none;
		border: none;
	}
	.bx-wrapper img{
		width: 100% !important;
	}
	.product-photo{
		.thumbnails{
			li{
				a{
					padding: 0;
					border: none;
					border-radius: 0;
					width: 100px;
					margin: 0 0 5px;
					cursor: pointer;
					img{
						width: 100%;
					}
				}
			}
		}
		.carousel-inner{
			margin-left: -15px;
			width: auto;
			.item{
				margin-left: -15px;
				img{
					width: 100% !important;
				}
			}
		}
	}
	.product-size{
		p{
			display: block;
			margin:  0 0 10px;
			color: #797979;
			span{
				color: #212121;
			}
		}
		ul{
			li{
				color: #797979;
				text-transform: uppercase;
				a{
					color: #797979;
					&:hover{
						color:#212121;
					}
				}
			}
		}
	}
	.product-discription{
		.heading{
			.header{
				h2{
					font-family: $title-font;
					color: #212121;
					margin: 0 0 10px;
					font-size: 26px;
					font-weight: 600;
					text-transform: uppercase;
				}
				ul{
					display: block;
					margin: 0 0 5px;
					li{
						&:nth-child(2){
							position: relative;
							&:before{
								content:'';
								position: absolute;
								right: -2px;
								width: 2px;
								background: #313131;
								top: 6px;
								bottom: 6px;
							}
						}
						span{
							color: #313131;
						}
						ul{
							padding-right: 15px;
							li{
								color: #ffcc00;
								&:nth-child(2){
									&:before{
										display:none;
									}
								}
							}
						}
					}
				}
			}
			strong{
				font-weight: 600;
				color: #212121;
				font-size: 22px;
				display: block;
				margin: 0 0 15px;
			}
			.silder-control{
				a{
					display: inline-block;
					width: 25px;
					height: 25px;
					background: #ececec;
					margin: 0 2px;
					text-align: center;
					&:hover{
						background:$primary-color;
						color: #fff;
					}
					&.left{

					}
					&.right{

					}
				}
			}
		}
		.panel-nav-tabs{
			.panel-heading{
				padding: 0;
				border-bottom: 2px solid #d6d6d6;
				ul{
					li{
						position: relative;
						padding: 15px 15px;
						&.active{
							a{
								color: $primary-color;
							}
							&:after{
								content:'';
								position: absolute;
								right: 0;
								left: 0;
								height: 3px;
								background: $primary-color;
								bottom: -2px;
							}
						}
						&:before{
							content:'';
							position: absolute;
							right: -2px;
							width: 2px;
							background: #d6d6d6;
							top: 15px;
							bottom: 15px;
						}
						&:last-child{
							&:before{
								display:none;
							}
						}
						a{
							color: #212121;
							text-transform: uppercase;
						}
					}
				}
			}
			.panel-body{
				border-bottom: 2px solid #d6d6d6;
				margin: 0 0 20px;
				.tab-pane{
					p{
						margin: 0;
					}
				}
			}
		}
		form{
			fieldset{
				width: 100%;
				display: block;
				margin: 0 0 20px;
				label{
					display: block;
					color: #212121;
					margin: 0 0 15px;
					font-weight: 500;
					font-size: 16px;
					text-transform: uppercase;
				}
				select{
					width: 100%;
					height: 42px;
					border: 1px solid #eee;
					padding: 0 20px;
					color: #797979;
					&:focus{
						outline:none;
					}
				}
			}
		}
		.total-product{
			width: 170px;
			padding: 0 10px;
			border: 1px solid #eee;
			text-align: center;
			float: left;
			margin-right: 20px;
			color: #212121;
			line-height: 48px;
			height: 50px;
			input{
				line-height: 48px;
				height: 48px;
				border: none;
				text-align: center;
				&:focus{
					outline:none;
				}
			}
			.btn-default{
				border-radius: 0 !important;
 		 		padding: 10px;
			}
		}
	}
	.pro-des{
		display: block;
		padding-top: 80px;
		h4{
			font-family: $title-font;
			color: #212121;
			font-weight: 400;
			font-size: 22px;
			text-transform: uppercase;
		}
		p{
			color: #797979;
			margin: auto;
			width: 70%;
			font-size: 16px;
		}
	}
}