.info-area-one{
	.info-list{
		figure{
			margin: 0;
			position: relative;
			display: block;
			padding: 0;
			overflow: hidden;
			vertical-align: middle;
			&:after{
				content:'';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: rgba(0, 0, 0, 0.8);
				z-index: 9;
				transition: $transition;
			}
			&:before{
				content: '';
				position: absolute;
				left: 20px;
				right: 20px;
				top: 20px;
				bottom: 20px;
				border:3px solid #fff;
				opacity: 0.2;
				z-index: 99;
				transition: $transition;
			}
			img{
				transition: all 0.8s;
				display: block;
				width: 100%;

			}
			.content{
				position: absolute;
				top: 38%;
				left: 0;
				right: 0;
				text-align: center;
				display: block;
				z-index: 999;
				h2{
					margin: 0 0 20px;
					display: block;
					color: $primary-color;
					font-size: 40px;
					font-family: $title-font;
					font-weight: 400;
					letter-spacing: 1px;
				}
				a{
					color: #fff;
					font-weight: 600;
					text-transform: uppercase;
					i{
						padding-left: 5px;
						transition: $transition;
						color: #fff;
					}
					&:hover{
						color: $primary-color;
						i{
							padding-left: 8px;
							color: $primary-color;
						}
					}
				}
			}
			&:hover{
				img{
					transform: scale(1.2,1.2);
				}
				&:after{
					background: rgba(0, 0, 0, 0.5);
				}
				&:before{
					border: 3px solid $primary-color;
				}
			}
		}
	}
	.info-middel{
		background: url(images/info/bg-1.jpg);
		padding-top: 80px;
		margin-top: -50px;
		.info-logo{
			a{
				display: block;
				margin: 0 0 40px;
				img{

				}
			}
		}
		.content{
			p{
				color: #797979;
				font-size: 16px;
				padding: 0 60px;
			}
			img{
				display: block;
				margin: 0 auto 30px;
			}
			a{

			}
		}
	}
}